@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
body {
    font-family: "Saira Semi Condensed";
    padding-bottom: 200px;
}

div[class$=container] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 30px;
}

.makers-demo {
    position: relative;
}

.makers-demo h2 {
    margin-bottom: 5px;
}

.makers-demo pre {
    display: inline-block;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.dark-container {
    background-color: #212121;
    margin-bottom: 20px;
}

.dark-container h2,
.dark-container li {
    color: #eee;
}

.dark-container li {
    font-size: 20px;
}

.input-box {
    background-color: #ddd;
    min-height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 30px;
    justify-content: space-around;
    position: relative;
}

.input-box>h2 {
    position: absolute;
    top: 10px;
    left: 40px;
}

.input-box>button {
    height: 30px;
    width: 150px;
    font-size: 13px;
    border-radius: 4px;
    font-family: "Saira Semi Condensed";
    font-size: 18px;
    background-color: coral;
    color: #fff;
    border: none;
    position: absolute;
    left: 100px;
}

.input {
    border: 2px solid coral;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-family: "Saira Semi Condensed";
    padding: 0 5px;
    border-radius: 3px;
}

.input-message {
    font-size: 24px;
    min-height: 38px;
    min-width: 200px;
    border-bottom: 2px solid rgba(0,0,0, .2);
}

hr {
    margin-top: 500px;
    border-color: #eee;
    border-width: 2px;
    border-style: solid;
}